<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8" />
    <title>About Page</title>
</head>
<body>
    {{> header}}
    <h2>For help with express</h2>
    
    {{> footer}}
</body>
</html>