<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Express App</title>
</head>
<body>
    {{> header}}
    <p>The portfolio page will be rendered here.</p>
    {{> footer}}
</body>
</html>